@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap');


body {
  background-image:url(./img/KuwaitCodesWallpaper.png);
  /* المطلوب الأول هنا */
  font-family: 'Cairo', sans-serif;

 
  text-align: center;
  background-size: cover;
}

/* المطلوب الثاني هنا */
nav {
 


  list-style-type:inherit;
  margin: 10;
  padding: 10;
  overflow: hidden;
  background-color: grey;
 

}
.nav-elements {
  display: block;
  padding: 18px;
}

.card {
  /* المطلوب الثالث هنا */
  box-shadow: black;
  border-radius: 12px;
  width: 400px;
  height: 500px;
  background-color: white;
}

img {
  /* المطلوب الرابع هنا */
  box-shadow: black;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin-top: 20px;
}

.hobbies {
  /* المطلوب السادس هنا */
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
  }


.center {
  margin: auto;
}

ul {
  padding: 0;
  margin: 0;
  display: inline-block;
}

a {
  text-decoration: none;
  color: black;
}
